{% extends 'base.html' %}

{% block cards %}
    <h2 class="ui icon header center aligned">
        <i class="settings icon"></i>
        <div class="content">
            Account Settings
            <div class="sub header">Manage your account settings and set password preferences.</div>
        </div>
    </h2>
    <form class="ui form" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="field">
            {{ form.new_password1.errors }}
            <label>Password</label>
            <input type="password" name="new_password1" required placeholder="Password">
            {{ form.new_password1.help_text|safe }}
        </div>
        <div class="field">
            {{ form.new_password2.errors }}
            <label>Change Password</label>
            <input type="password" name="new_password2" required placeholder="Re-enter password">
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>

{% endblock %}