{% extends('base.html') %}

{% block cards %}
    <style>
        .overlay {
            float: left;
            margin: 0em 3em 1em 0em;
        }

        .overlay .menu {
            position: relative;
            left: 0;
            transition: left 0.5s ease;
        }

        .centered-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
        }

        .like-button {
            border: 0;
            background: transparent;
        }
    </style>
    <h1 class="ui header">{{ article.title }}</h1>
    <img src="{{ article.image.name }}" class="centered-image">
    <h5 class="ui">{{ article.body|safe }}</h5>
    <div class="ui items">
        <div class="item">
            <a class="ui tiny image">
                <img src="{{ article.created_by.profile.avatar.name }}">
            </a>
            <div class="content">
                Автор: <a href="{{ url('profile', args=[article.created_by.id]) }}"
                          class="header">@{{ article.created_by.username }}</a>
                <div class="description">
                    <p>Дата публикации: {{ article.created_at.strftime("%H:%M %d/%m/%Y") }}</p>
                    {% if article.created_at.strftime("%H:%M %d/%m/%Y") != article.updated_at.strftime("%H:%M %d/%m/%Y") %}
                        <p>Дата редактирования: {{ article.created_at.strftime("%H:%M %d/%m/%Y") }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- LIKE -->
    <form method="post">
        <input hidden name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input hidden name="like" value="{{ article.pk }}">
        <button type="submit" class="like-button">
            <div class="ui labeled button" tabindex="0">
                <div class="ui {% if user in article.likes.all() %}orange{% else %}red{% endif %} button">
                    <i class="heart icon"></i> {% if user in article.likes.all() %}Unlike{% else %}Like{% endif %}
                </div>
                <a class="ui basic {% if user in article.likes.all() %}orange{% else %}red{% endif %} left pointing label">
                    {{ article.like_count }}
                </a>
            </div>
        </button>
    </form>
    <!-- COMMENTS -->
    <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>
        {% if article.comments %}
            {% for comment in article.comments %}
                <div class="comment">
                    <a class="avatar">
                        <img src="{{ comment.author.profile.avatar.name }}">
                    </a>
                    <div class="content">
                        <a class="author"
                           href="{{ url('profile', args=[comment.author.pk]) }}">{{ comment.author.username }}</a>
                        <div class="metadata">
                            <span class="date">{{ comment.created_at|naturaltime }}</span>
                        </div>
                        <div class="text">
                            {{ comment.body }}
                        </div>
                        <div class="actions">
                            <a class="reply" disabled>Reply</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            No comments.
        {% endif %}
        <form class="ui reply form" method="post">
            <input hidden name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input hidden name="article" value="{{ article.pk }}">
            <div class="field">
                <textarea required name="body"></textarea>
            </div>
            <button type="submit" class="like-button">
                <div class="ui blue labeled submit icon button">
                    <i class="icon edit"></i> Add Reply
                </div>
            </button>
        </form>
    </div>
{% endblock %}