{% extends('base.html') %}

{% block cards %}
    {% if not request.GET.searching %}
    <h4><div style="text-align: center;">Сортировка по</div></h4>
    <div class="two ui buttons">
      <button class="ui button {% if request.GET.order != '-likes' %}active{% endif %}" onclick="window.location.href='?order=-id'">Дате публикации</button>
      <button class="ui button {% if request.GET.order == '-likes' %}active{% endif %}" onclick="window.location.href='?order=-likes'">Количеству лайков</button>
    </div>
    {% endif %}
    <div class="ui items divided">
        {% if object_list %}
            {% for article in object_list %}
                <div class="item">
                    <div class="image">
                        <img src="
                                {% if article.image.name %}{{ article.image.name }}{% else %}https://semantic-ui.com/images/wireframe/image.png{% endif %}">
                    </div>
                    <div class="content">
                        <a href="{{ url('article', args=[article.id]) }}" class="header">{{ article.title }}</a>
                        <div class="meta">
                            <span>by <a
                                    href="{{ url('profile', args=[article.created_by.pk]) }}">@{{ article.created_by.username }}</a></span>
                        </div>
                        <div class="description">
                            <p>{{ article.short_description }}</p>
                        </div>
                        <div class="extra">
                            {% for category in article.category.all() %}
                                <a class="ui teal tag label" href="?searching={{ category }}">#{{ category }} </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            No articles.
        {% endif %}
    </div>
{% if page_obj.has_other_pages() %}
    <div class="ui large bottom fixed menu transition visible">
        <div class="ui container" style="justify-content: center;">
            <div class="item">
                <div class="ui pagination menu">
                    {% if page_obj.number != 1 %}
                        <a class="item"
                           href="?page=1{% if request.GET.searching %}&searching={{ request.GET.searching }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">
                            1
                        </a>
                        <div class="disabled item">
                            ...
                        </div>
                    {% endif %}
                    {% if page_obj.number > 2 %}
                        <a class="item"
                           href="?page={{ page_obj.previous_page_number() }}{% if request.GET.searching %}&searching={{ request.GET.searching }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">
                            {{ page_obj.previous_page_number() }}
                        </a>
                    {% endif %}
                    <a class="disabled item">
                        {{ page_obj.number }}
                    </a>
                    {% if page_obj.number != page_obj.paginator.num_pages %}
                        <a class="item"
                           href="?page={{ page_obj.next_page_number() }}{% if request.GET.searching %}&searching={{ request.GET.searching }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">
                            {{ page_obj.next_page_number() }}
                        </a>
                    {% endif %}
                    {% if page_obj.number != page_obj.paginator.num_pages %}
                        <div class="disabled item">
                            ...
                        </div>
                        <a class="item"
                           href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.searching %}&searching={{ request.GET.searching }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">
                            {{ page_obj.paginator.num_pages }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}