{% extends('base.html') %}

{% block cards %}
    <div class="ui card">
        <div class="image">
            <img src="{{ object.avatar.name }}">
        </div>
        <div class="content">
            <a class="header">{{ object.user.username }}</a>
            <div class="meta">
                <span class="date">Joined in {{ object.user.date_joined.year }}</span>
            </div>
            <div class="description">
                Kristy is an art director living in New York.
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="user icon"></i>
                0 Friends
            </a>
        </div>
    </div>
    {% if object.last_articles %}
        <h1>Последние 5 статей</h1>
        <div class="ui large feed">
            {% for item in object.last_articles %}
                <div class="event">
                    <div class="label">
                        <img src="{{ object.avatar.name }}">
                    </div>
                    <div class="content">
                        <div class="summary">
                            <a class="user">{{ object.user.username }}</a> создал{{ object.gend }} статью
                            <div class="date">
                                {{ item.created_at|naturaltime }}
                            </div>
                        </div>
                        <div class="extra text">
                            {{ item.title }}
                        </div>
                        <div class="meta">
                            <a class="like">
                                <i class="like icon"></i> {{ item.like_count }} Likes
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="ui large bottom fixed menu transition visible">
        <div class="ui container" style="justify-content: center;">
            <div class="item">
                {% if user.is_authenticated %}
                    {% if user != object.user %}
                        <button class="ui basic button">
                            <i class="icon user"></i>
                            Add Friend
                        </button>
                    {% else %}
                        <button class="positive ui button" onclick="window.location.href='edit/'">Edit profile</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}